@import "libs/bootstrap-reboot.min"
@import "libs/fonts"
@import "libs/variables"
@import "libs/mixins"
*
    font-family: 'Roboto', sans-serif

.container
    // position: relative
    max-width: 1140px
    margin: 0 auto

@import "blocks/countries"
@import "blocks/management"
@import "blocks/btn"
@import "blocks/prengi"
@import "blocks/expert"
@import "blocks/nav"
@import "blocks/advantage"
@import "blocks/options"
@import "blocks/work"
@import "blocks/footer"
@import "blocks/hamburger"
@import "blocks/scroll_dynamic"
@import "blocks/calc"
@import "blocks/calculator"
@import "blocks/acordion"
@import "blocks/media"




