@media (max-width: 1342px)

@media (max-width: 1200px)
    .container
        max-width: 960px
    .prengi
        &__solution-wapper
            display: flex
            justify-content: center
            flex-wrap: wrap
    // .management
    //     &__h2
    //         font-size: 40px

@media (max-width: 992px)
    .container
        max-width: 720px
    .countries
        &__wapper
            flex-wrap: wrap
    .management
        &__logo-wapper
            display: none
        &__mobile
            img
                display: none
        &__business
            margin: 150px auto 0 auto
    .nav
        margin: 0 auto
        &__expert
            justify-content: center
            padding: 10px 0px
            li
                border: none
                padding: 0
                margin-right: 20px
    .expert
        // &__container-sliders

        &__wapper-sliders
            max-width: 600px

        // &__sliders

        &__slide
            max-width: 600px
            img
                object-fit: contain

        // &__next-wapper

        // &__previos-wapper

@media (max-width: 767px)
    .container
        max-width: 540px
    .countries
        &__wapper
            flex-wrap: wrap
    .countries
        &__wapper
            flex-wrap: wrap
            justify-content: center
    .management
        &__nav-wapper
            max-width: 400px
            margin: 0 auto

        &__logo-wapper
            display: none

        &__mobile
            img
                display: none

    .nav
        min-width: auto
        min-width: 100%
        padding-left: 0
        justify-content: center
        &__expert
            li
                border: none
                padding: 0
                margin-right: 20px
    .container
        width: 100%
        padding: 0 25px
    .nav
        &__expert
            justify-content: center
            li
                border: none
                padding: 0
                margin-right: 20px
    .advantage
        &__title
            font-size: 18px
