.options
    width: 1920px
    &__wapper
        display: flex
        position: relative

    &__title
        margin-top: 79px
        position: absolute
        left: 50%
        transform: translateX(-50%)
        font-size: 30px
        line-height: 35px
        font-weight: 900
        color: #ffffff
        max-width: 373px
        text-align: center

    &__sub-wapper
        position: relative
        width: 960px
        min-height: 580px
        background-image: url("../img/options/layers1.png")
        &_background-other
            padding-left: 82px
            background-image: url("../img/options/layers2.png")
    &__dsc
        max-width: 485px
        min-height: 43px
        margin-top: 270px
        &_right-0
            position: absolute
            right: 82px
    &__h2
        font-size: 30px
        line-height: 22px
        font-weight: 900
        text-transform: uppercase
        color: #ffffff
        &_right-0
            text-align: right

    &__text
        margin-top: 20px
        font-size: 18px
        line-height: 26px
        font-weight: 300
        color: #ffffff
        &_right-0
            text-align: right
