.prengi
    &__solution-wapper
        display: flex
        justify-content: space-between
        align-items: center
    &__solution
        position: relative
        display: block
        max-width: 360px
        max-height: 255px
    &__dsc
        display: block
        position: absolute
        width: 234px
        bottom: 0
        top: 176px
        left: 52%
        transform: translateX(-50%)
        text-align: center
    &__span-wapper
        width: 169px
        height: 72px
    &__span1
        display: inline-block
        height: 6px
        width: 150px
        background: #ececec
        transform: rotate(45deg)
